@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b82929;
    --foreground: #ffffff;
  }
}

[data-theme='dark'] {
  --background: black;
  --foreground : white;
}

[data-theme='light'] {
  --background: black;
  --foreground : black;
}

.profile-pic-parent {
	position: relative;
	top: 120px;
	left: 120px;
}

.profile-pic {
	position: absolute;
	top: 0;
	left: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
